<div class="search-container">
  <h1>Search Results</h1>
  <div class="search-box">
    <input type="text" class="search-input" placeholder="What are you looking for?">
    <button type="submit" class="search-btn">
    <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngFor="let posts of myuser" class="datagroup">
  <p><b>UserId :</b>{{posts.userId}}</p>
  <p><b>Id :</b> {{posts.id}}</p>
  <p><b>Title: </b>{{posts.title}}</p>
</div>
  
  <!-- <select>
    <option *ngFor='let u of myuser' [value]="u.id">{{u.title}}</option>
  </select> -->
</div>